.modes {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.modeBtn {
  background-color: #a1a1a1;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.modeBtnActive {
  background-color: #4caf50;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.modeOption {
  background-color: #a1a1a1;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.modeOptions {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.modeOptionActive {
  background-color: #008cffdc;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

.modeOption:hover {
  background-color: #74c0ff;
  border: 0px solid #ccc;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}
